<a href="https://colab.research.google.com/github/pierrebomfim/python-exercises/blob/master/Atividades_aula1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Atividade do aluno - aula 01

In [ ]:
"""
Faça um programa que realize o cálculo da média utilizando a linguagem Python. Para isso,
peça ao usuário o valor de quatros notas de provas, faça o cálculo da média e retorne se o
aluno foi aprovado ou reprovado para o usuário. Para um aluno ser aprovado, sua média
deve ser igual ou superior a sete. Utilize o conceito de funções para resolver este problema. 29/09/2020
"""

def ValorLista():
    lista.append(float(input("Digite sua nota da prova 1: ")))
    lista.append(float(input("Digite sua nota da prova 2: ")))
    lista.append(float(input("Digite sua nota da prova 3: ")))
    lista.append(float(input("Digite sua nota da prova 4: ")))

def Media():
    s = 0
    for i in range (len(lista)):
        s = s + lista[i]
    m = s / 4
    return m

def Resultado():
    if m >= 7:
        print("Aprovado")
    else:
        print("Reprovado")

lista = []
ValorLista()
m = Media()
Resultado()

In [ ]:
Atividade do Aluno - Aula 02

Exercício Proposto:
Faça um programa que peça ao usuário valores inteiros para serem armazenados em uma
lista. Os valores devem ser adicionados um a um e toda vez que um valor for adicionado,
deve-se perguntar ao usuário se ele deseja adicionar mais elementos. Além da lista, crie
duas funções, uma para ordenar os elementos e outra para verificar se um elemento está
contido na lista.

# Atividade do Aluno - Aula 03

Exercício Proposto:
Crie um banco de dados SQL e uma tabela, denominada clientes, com o Python. A tabela
clientes, deve ter os seguintes dados:
• Nome;
• Idade;
• Endereço;
Após a criação do banco e da tabela, adicione pelo menos dois registros nesta tabela. Para
verificar se os registros foram mesmo adicionados, apresente-os para o usuário.
Use módulos para separar a criação do banco das demais funcionalidades.

In [ ]:
import sqlite3  #aqui no colab não precisa importar, já vem nativo

# Móódulo para criação da Tabela

conector = sqlite3.connect('atividade_3.db')
cursor = conector.cursor()

sql = """
    create table clientes (nome text, idade integer, endereço text)
    """
cursor.execute(sql)
conector.commit
cursor.close()
conector.close()

In [ ]:
# Módulo para inserção de cliente 

conector = sqlite3.connect('atividade_3.db')
cursor = conector.cursor()

sql = """
    insert into clientes (nome, idade, endereço) values ('João', 22, 'Rua A. n 45, Centro. Aracaju - SE')
    """
cursor.execute(sql)
conector.commit()
cursor.close()
conector.close()

In [ ]:
conector = sqlite3.connect('atividade_3.db')
cursor = conector.cursor()

sql = """
    insert into clientes (nome, idade, endereço) values ('Maria', 25, 'Rua Campos. n 50, Atalaia. Aracaju - SE')
    """
cursor.execute(sql)
conector.commit()
cursor.close()
conector.close()

In [ ]:
# móódulo para consulta da tabela clientes
conector = sqlite3.connect('atividade_3.db')
cursor = conector.cursor()

sql = "select * from clientes"
cursor.execute(sql)
dados = cursor.fetchall()
for d in dados:
  print(d[0], d[1], d[2])

cursor.close()
conector.close()

João 22 Rua A. n 45, Centro. Aracaju - SE
João 22 Rua A. n 45, Centro. Aracaju - SE
Maria 25 Rua Campos. n 50, Atalaia. Aracaju - SE

In [ ]:
# módulo para exclusão de um dado

conector = sqlite3.connect('atividade_3.db')
cursor = conector.cursor()

def excluirCliente(Cod):
  sql = "delete from clientes where nome = :param"
  cursor.execute(sql, {'param': Cod})
  conector.commit()
  return print (f'Cliente {Cod} excluído.')

excluirCliente('João')

Cliente João excluído.

In [ ]:
# módulo para consulta da tabela clientes
conector = sqlite3.connect('atividade_3.db')
cursor = conector.cursor()

sql = "select * from clientes"
cursor.execute(sql)
dados = cursor.fetchall()
for d in dados:
  print(d)

cursor.close()
conector.close()

('Maria', 25, 'Rua Campos. n 50, Atalaia. Aracaju - SE')