<a href="https://colab.research.google.com/github/pierrebomfim/python-exercises/blob/master/Aula_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Dataframes

import pandas as pd

cliente = {"Nome": ['Maria', 'Ana', 'Marcelo'],  # criação de um dicionário
           "Idade": [33, 26, 45]}
print(f'Print do dicionário:\n {cliente}')


dataframe = pd.DataFrame(cliente)  # criação de um dataframe
print(f'\n Print do dataframe:\n {dataframe}')

Print do dicionário:
 {'Nome': ['Maria', 'Ana', 'Marcelo'], 'Idade': [33, 26, 45]}

 Print do dataframe:
       Nome  Idade
0    Maria     33
1      Ana     26
2  Marcelo     45

In [9]:
# Séries

import pandas as pd
import numpy as np

vetor = np.array([5, 6, 7 ,8])
print(f'Print do vetor:\n {vetor}')

v = pd.Series(vetor)
print(f'\nPrint da série:\n {v}')

Print do vetor:
 [5 6 7 8]

 Print da série:
 0    5
1    6
2    7
3    8
dtype: int64

Situação Problema 1
- Dataframe
- Nomes
- Média de idades
- série com vendedores, com index atribuido

In [18]:
import pandas as pd

cliente = {"Nome": ['Maria', 'Ana', 'Marcelo'],  # criação de um dicionário
           "Idade": [33, 26, 45],
           "Fone": [99894021, 99849856, 99870908]}

df = pd.DataFrame(cliente)
print(df)
print()

print(df.Nome)
print()

media = df.Idade.mean()
print(media)
print()

s = pd.Series(('Carla', 'Lis'), index = ['03', '07'])
print(s)

      Nome  Idade      Fone
0    Maria     33  99894021
1      Ana     26  99849856
2  Marcelo     45  99870908

0      Maria
1        Ana
2    Marcelo
Name: Nome, dtype: object

34.666666666666664

03    Carla
07      Lis
dtype: object