<a href="https://colab.research.google.com/github/pierrebomfim/python-exercises/blob/master/Aula_4_SP_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Acessar um banco de dados existente ( acabei criando um novo)
- Realizar alteração de dados, criando um novo dataframe

In [1]:
import sqlite3

conector = sqlite3.connect('cadastro.db')
cursor = conector.cursor()

sql = "create table clientes (nome text, idade integer, telefone integer)"
cursor.execute(sql)

conector.commit()
cursor.close()
conector.close()

In [2]:
conector = sqlite3.connect('cadastro.db')
cursor = conector.cursor()

sql = "insert into clientes (nome, idade, telefone) values ('Ana', 22, 98987645)"
cursor.execute(sql)

conector.commit()
cursor.close()
conector.close()

In [3]:
conector = sqlite3.connect('cadastro.db')
cursor = conector.cursor()

sql = "select * from clientes"
cursor.execute(sql)

dados = cursor.fetchall()
for d in dados:
  print(d)

cursor.close()
conector.close()

('Ana', 22, 98987645)

In [5]:
conector = sqlite3.connect('cadastro.db')
cursor = conector.cursor()

sql = "insert into clientes (nome, idade, telefone) values ('Carlos', 32, 98887654)"
cursor.execute(sql)

sql = "insert into clientes (nome, idade, telefone) values ('Lucas', 45, 96785432)"
cursor.execute(sql)

sql = "insert into clientes (nome, idade, telefone) values ('Tiago', 18, 98907645)"
cursor.execute(sql)

conector.commit()
cursor.close()
conector.close()

In [6]:
import pandas as pd
conector = sqlite3.connect('cadastro.db')
cursor = conector.cursor()

df = pd.read_sql_query('select * from clientes', conector)
print(df)

     nome  idade  telefone
0     Ana     22  98987645
1  Carlos     32  98887654
2   Lucas     45  96785432
3   Tiago     18  98907645

In [12]:
import pandas as pd
conector = sqlite3.connect('cadastro.db')
cursor = conector.cursor()

data = pd.DataFrame([[101, 'blusa', 39.9], [102, 'short', 54.9], [103, 'calça', 99.9]],
                    columns = ['id', 'descrição', 'valor'])
data.to_sql('produtos', conector)

df = pd.read_sql_query('select * from produtos', conector)
print(df)

   index   id descrição  valor
0      0  101     blusa   39.9
1      1  102     short   54.9
2      2  103     calça   99.9